fieldset.user-field-set {
    height: 250px;
    overflow-y: scroll;

}



fieldset.user-field-set .panel-body {
    clear: both;
    display: FLEX !important;
    height: 300px;
    align-content: baseline;
    flex-wrap: wrap;
    flex-direction: row;
}


fieldset.user-field-set .panel-body .form-type-checkbox {
    width: 25%;
}



fieldset.user-select-by-role-field-set {

}